**/.gradle
**/build/
build/
.gradle/
!server/gradle/wrapper/gradle-wrapper.jar

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/logs
**/out

###Local YAML###
**/deployments/dev-cluster/user-values-local.yaml

## Local infra content ###
**/.devcloud/
**/infrastructure/devcloud/namespace-admin/playbooks/manage-namespace.retry
**/infrastructure/elastic/ansible-elastic/playbooks/install-elastic-stack.retry
**/bin/
**/*.lock
**/*.bin

## Generated Pojos
server/schema/src/main/genjava/

## Mac files
**/.DS_Store

## VS Code internal files
**/.vscode/

## web console in api-service
server/oig/src/main/resources/web/

